<h1>Mongoose project management</h1>
<h2>{{name}}</h2>

<p>email{{email}}</p>
<h3>actions</h3>
<u>
    <li><a href="/project/new">create a new project</a> </li>
    <li><a href="/user/edit">edit user info</a> </li>
    <li><a href="/user/delete">delete user info </a>#{{name}} </li>
    <li><a href="/logout">logout</a> #{{name}}</li>
</u>